## Pandas Tutorial

In [2]:
#Import Statement
import pandas as pd

## Data Frames

In [6]:
#read data from CSV file into a dataframe
df_csv = pd.read_csv("cricket_data.csv",encoding="utf8")
print(df_csv)

          File No        Team 1  Team 1 Runs  Team 1 Wickets     Team 2  \
0      710305.csv    Bangladesh          326               3   Pakistan
1      667889.csv       England          247               6  Sri Lanka
2     1073420.csv      Pakistan           91              10   Scotland
3      749547.csv        Jersey          185              10       Oman
4      463154.csv  South Africa          250               9      India
...           ...           ...          ...             ...        ...
1664   236358.csv     Australia          274               8  Sri Lanka
1665   520593.csv   New Zealand          372               6   Zimbabwe
1666   247476.csv         India          254               6  Sri Lanka
1667   387567.csv  South Africa          354               6    England
1668   238188.csv         India          203              10    England

      Team 2 Runs  Team 2 Wickets  Gender   Season        Date  ...  \
0             329               7    male  2013/14  2014/03/04  ...
1             144              10    male     2014  2014/05/22  ...
2              94               4  female  2016/17  2017/02/13  ...
3             189               3    male     2014  2014/06/22  ...
4             234              10    male  2010/11  2011/01/23  ...
...           ...             ...     ...      ...         ...  ...
1664          252              10    male  2005/06  2006/02/10  ...
1665          231               8    male  2011/12  2012/02/06  ...
1666          185              10    male  2006/07  2007/03/23  ...
1667          242              10    male  2009/10  2009/11/27  ...
1668          164              10    male  2005/06  2006/03/28  ...

                Umpire 1        Umpire 2    Reserve Umpire     TV Umpire  \
0              JD Cloete        NJ Llong      Tanvir Ahmed     CK Nandan
1              RJ Bailey     CB Gaffaney       RT Robinson     M Erasmus
2            JM Williams   RR Wimalasiri  RMPJ Rambukwella           NaN
3     Ahmed Shah Durrani        C Howard        N Morrison           NaN
4             BG Jerling      SJA Taufel         JD Cloete      S George
...                  ...             ...               ...           ...
1664           Aleem Dar       DJ Harper               NaN      RL Parry
1665             AL Hill       RJ Tucker          BG Frost  Enamul Haque
1666           Aleem Dar       DJ Harper         IL Howell      SJ Davis
1667           M Erasmus       RJ Tucker         JD Cloete    BG Jerling
1668           Asad Rauf  AV Jayaprakash               NaN   K Hariharan

     Match Referee        Winner Outcome Winner Runs Winner Wickets Method
0         BC Broad      Pakistan     NaN         NaN            3.0    NaN
1         JJ Crowe       England     NaN        81.0            NaN    D/L
2              NaN      Pakistan     NaN         NaN            6.0    NaN
3       SR Bernard          Oman     NaN         NaN            7.0    NaN
4         BC Broad  South Africa     NaN        33.0            NaN    D/L
...            ...           ...     ...         ...            ...    ...
1664      JJ Crowe     Sri Lanka     NaN        22.0            NaN    NaN
1665       DC Boon   New Zealand     NaN       141.0            NaN    NaN
1666      JJ Crowe     Sri Lanka     NaN        69.0            NaN    NaN
1667     J Srinath  South Africa     NaN       112.0            NaN    NaN
1668   RS Mahanama         India     NaN        39.0            NaN    NaN

[1669 rows x 29 columns]

In [8]:
#read data from json file into dataframe
df_json = pd.read_csv("cricket_data.csv",encoding="utf8")
print(df_json)

          File No        Team 1  Team 1 Runs  Team 1 Wickets     Team 2  \
0      710305.csv    Bangladesh          326               3   Pakistan
1      667889.csv       England          247               6  Sri Lanka
2     1073420.csv      Pakistan           91              10   Scotland
3      749547.csv        Jersey          185              10       Oman
4      463154.csv  South Africa          250               9      India
...           ...           ...          ...             ...        ...
1664   236358.csv     Australia          274               8  Sri Lanka
1665   520593.csv   New Zealand          372               6   Zimbabwe
1666   247476.csv         India          254               6  Sri Lanka
1667   387567.csv  South Africa          354               6    England
1668   238188.csv         India          203              10    England

      Team 2 Runs  Team 2 Wickets  Gender   Season        Date  ...  \
0             329               7    male  2013/14  2014/03/04  ...
1             144              10    male     2014  2014/05/22  ...
2              94               4  female  2016/17  2017/02/13  ...
3             189               3    male     2014  2014/06/22  ...
4             234              10    male  2010/11  2011/01/23  ...
...           ...             ...     ...      ...         ...  ...
1664          252              10    male  2005/06  2006/02/10  ...
1665          231               8    male  2011/12  2012/02/06  ...
1666          185              10    male  2006/07  2007/03/23  ...
1667          242              10    male  2009/10  2009/11/27  ...
1668          164              10    male  2005/06  2006/03/28  ...

                Umpire 1        Umpire 2    Reserve Umpire     TV Umpire  \
0              JD Cloete        NJ Llong      Tanvir Ahmed     CK Nandan
1              RJ Bailey     CB Gaffaney       RT Robinson     M Erasmus
2            JM Williams   RR Wimalasiri  RMPJ Rambukwella           NaN
3     Ahmed Shah Durrani        C Howard        N Morrison           NaN
4             BG Jerling      SJA Taufel         JD Cloete      S George
...                  ...             ...               ...           ...
1664           Aleem Dar       DJ Harper               NaN      RL Parry
1665             AL Hill       RJ Tucker          BG Frost  Enamul Haque
1666           Aleem Dar       DJ Harper         IL Howell      SJ Davis
1667           M Erasmus       RJ Tucker         JD Cloete    BG Jerling
1668           Asad Rauf  AV Jayaprakash               NaN   K Hariharan

     Match Referee        Winner Outcome Winner Runs Winner Wickets Method
0         BC Broad      Pakistan     NaN         NaN            3.0    NaN
1         JJ Crowe       England     NaN        81.0            NaN    D/L
2              NaN      Pakistan     NaN         NaN            6.0    NaN
3       SR Bernard          Oman     NaN         NaN            7.0    NaN
4         BC Broad  South Africa     NaN        33.0            NaN    D/L
...            ...           ...     ...         ...            ...    ...
1664      JJ Crowe     Sri Lanka     NaN        22.0            NaN    NaN
1665       DC Boon   New Zealand     NaN       141.0            NaN    NaN
1666      JJ Crowe     Sri Lanka     NaN        69.0            NaN    NaN
1667     J Srinath  South Africa     NaN       112.0            NaN    NaN
1668   RS Mahanama         India     NaN        39.0            NaN    NaN

[1669 rows x 29 columns]

## Creating and Saving dataframe

In [24]:
# Creating data
data = {
    "Player" : ["Rohit","Gill","Virat","Shreyas","Rahul","Axar","Hardik","Jadeja","Kuldeep","Bumrah","Arshdeep"],
    "Score" :["79","14","142*","68","42","DNB","30*","DNB","DNB","DNB","DNB"],
    "4s" : ["6","2","12","7","4","0","2","0","0","0","0"],
    "6s" :["4","0","6","4","1","0","2","0","0","0","0"]
}

#creating data frame
df = pd.DataFrame(data)
df

#creating csv file from dataframe
df.to_csv("team-score.csv",index=False,encoding="utf8")

#creating xls file from dataframe
df.to_excel("team-score.xlsx",index=False)

#creating json file from dataframe
df.to_json("team-score.json",index=False)

## Exploration of data

### Why we need to explore the data 
### - understand the data set
### - identify the problems
### - plan next steps

In [29]:
#loading the data
df = pd.read_csv("cricket_data.csv")

#display data from start
df.head(10) # returns 10 records from start(default=5)

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
5,298798.csv,South Africa,238,8,New Zealand,242,5,male,2007/08,2007/12/02,...,MR Benson,IL Howell,S George,M Erasmus,J Srinath,South Africa,NaN,NaN,5.0,NaN
6,247484.csv,England,266,7,Ireland,218,10,male,2006/07,2007/03/30,...,BR Doctrove,SJA Taufel,SA Bucknor,DJ Harper,RS Madugalle,England,NaN,48.0,NaN,NaN
7,746101.csv,Bhutan,169,7,Kuwait,173,4,male,2014,2014/06/11,...,B Manikandan,T Senthil Kumar,Sarika Prasad,NaN,BK Mehta,Kuwait,NaN,NaN,6.0,NaN
8,366341.csv,Sri Lanka,258,10,India,212,10,male,2008,2008/08/27,...,BR Doctrove,MG Silva,HDPK Dharmasena,TH Wijewardene,BC Broad,India,NaN,46.0,NaN,NaN
9,1085952.csv,Australia,257,9,Sri Lanka,262,2,female,2017,2017/06/29,...,AK Chaudhary,S Redfern,AT Holdstock,NaN,DT Jukes,Australia,NaN,NaN,8.0,NaN

In [30]:
#display data from last
df.tail(10) #returns 10 records from last(default=5)

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
1659,1050609.csv,New Zealand,263,6,Pakistan,267,2,female,2016/17,2016/11/13,...,K Cross,ED Sanders,NaN,NaN,SR Bernard,New Zealand,NaN,NaN,8.0,NaN
1660,433599.csv,India,268,10,West Indies,188,10,male,2010/11,2011/03/20,...,SJ Davis,SJA Taufel,SK Tarapore,BNJ Oxenford,RS Mahanama,India,NaN,80.0,NaN,NaN
1661,486523.csv,Bangladesh,246,7,Zimbabwe,181,10,male,2010/11,2010/12/06,...,EAR de Silva,Sharfuddoula,Mahfuzur Rahman,Nadir Shah,BC Broad,Bangladesh,NaN,65.0,NaN,NaN
1662,1040491.csv,Afghanistan,292,7,Ireland,262,10,male,2016/17,2017/03/15,...,Ahmed Shah Pakteen,Nitin Menon,NaN,AK Chaudhary,GF Labrooy,Afghanistan,NaN,30.0,NaN,NaN
1663,251489.csv,New Zealand,285,8,Sri Lanka,289,3,male,2006/07,2006/12/28,...,SJ Davis,AL Hill,GAV Baxter,EA Watkin,J Srinath,Sri Lanka,NaN,NaN,7.0,NaN
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

### Problems
### -column,row?
### -what type of data?
### -missing data?


### info() method
### 1- number of rows and columns
### 2- column name
### 3- type: int64, float64, object
### 4- non null counts
### 5- memory usage of

In [32]:
# insights or summary of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   File No          1669 non-null   object
 1   Team 1           1669 non-null   object
 2   Team 1 Runs      1669 non-null   int64
 3   Team 1 Wickets   1669 non-null   int64
 4   Team 2           1669 non-null   object
 5   Team 2 Runs      1669 non-null   int64
 6   Team 2 Wickets   1669 non-null   int64
 7   Gender           1669 non-null   object
 8   Season           1669 non-null   object
 9   Date             1669 non-null   object
 10  Series           1030 non-null   object
 11  Competition      664 non-null    object
 12  Match Number     1477 non-null   float64
 13  Venue            1669 non-null   object
 14  City             1414 non-null   object
 15  Neutral Venue    466 non-null    object
 16  Toss Winner      1669 non-null   object
 17  Toss Decision    1669 non-null   object
 18  Player of Match  1562 non-null   object
 19  Umpire 1         1669 non-null   object
 20  Umpire 2         1669 non-null   object
 21  Reserve Umpire   1527 non-null   object
 22  TV Umpire        1292 non-null   object
 23  Match Referee    1635 non-null   object
 24  Winner           1630 non-null   object
 25  Outcome          39 non-null     object
 26  Winner Runs      808 non-null    float64
 27  Winner Wickets   822 non-null    float64
 28  Method           156 non-null    object
dtypes: float64(3), int64(4), object(22)
memory usage: 378.3+ KB

In [33]:
# resturns detailed statistical information of dataset
df.describe()

,Team 1 Runs,Team 1 Wickets,Team 2 Runs,Team 2 Wickets,Match Number,Winner Runs,Winner Wickets
count,1669.000000,1669.000000,1669.000000,1669.000000,1477.000000,808.000000,822.000000
mean,243.596165,8.033553,201.977232,6.759137,6.454976,74.845297,5.643552
std,65.012542,1.949008,62.937939,3.184492,8.781920,56.688432,2.208543
min,67.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,202.000000,7.000000,159.000000,4.000000,2.000000,29.000000,4.000000
50%,246.000000,8.000000,206.000000,7.000000,3.000000,63.000000,6.000000
75%,288.000000,10.000000,246.000000,10.000000,5.000000,109.250000,7.000000
max,444.000000,10.000000,411.000000,10.000000,51.000000,300.000000,10.000000