## Pandas Tutorial

In [1]:
#Import Statement
import pandas as pd

## Data Frames

In [2]:
#read data from CSV file into a dataframe
df_csv = pd.read_csv("cricket_data.csv",encoding="utf8")
print(df_csv)

          File No        Team 1  Team 1 Runs  Team 1 Wickets     Team 2  \
0      710305.csv    Bangladesh          326               3   Pakistan
1      667889.csv       England          247               6  Sri Lanka
2     1073420.csv      Pakistan           91              10   Scotland
3      749547.csv        Jersey          185              10       Oman
4      463154.csv  South Africa          250               9      India
...           ...           ...          ...             ...        ...
1664   236358.csv     Australia          274               8  Sri Lanka
1665   520593.csv   New Zealand          372               6   Zimbabwe
1666   247476.csv         India          254               6  Sri Lanka
1667   387567.csv  South Africa          354               6    England
1668   238188.csv         India          203              10    England

      Team 2 Runs  Team 2 Wickets  Gender   Season        Date  ...  \
0             329               7    male  2013/14  2014/03/04  ...
1             144              10    male     2014  2014/05/22  ...
2              94               4  female  2016/17  2017/02/13  ...
3             189               3    male     2014  2014/06/22  ...
4             234              10    male  2010/11  2011/01/23  ...
...           ...             ...     ...      ...         ...  ...
1664          252              10    male  2005/06  2006/02/10  ...
1665          231               8    male  2011/12  2012/02/06  ...
1666          185              10    male  2006/07  2007/03/23  ...
1667          242              10    male  2009/10  2009/11/27  ...
1668          164              10    male  2005/06  2006/03/28  ...

                Umpire 1        Umpire 2    Reserve Umpire     TV Umpire  \
0              JD Cloete        NJ Llong      Tanvir Ahmed     CK Nandan
1              RJ Bailey     CB Gaffaney       RT Robinson     M Erasmus
2            JM Williams   RR Wimalasiri  RMPJ Rambukwella           NaN
3     Ahmed Shah Durrani        C Howard        N Morrison           NaN
4             BG Jerling      SJA Taufel         JD Cloete      S George
...                  ...             ...               ...           ...
1664           Aleem Dar       DJ Harper               NaN      RL Parry
1665             AL Hill       RJ Tucker          BG Frost  Enamul Haque
1666           Aleem Dar       DJ Harper         IL Howell      SJ Davis
1667           M Erasmus       RJ Tucker         JD Cloete    BG Jerling
1668           Asad Rauf  AV Jayaprakash               NaN   K Hariharan

     Match Referee        Winner Outcome Winner Runs Winner Wickets Method
0         BC Broad      Pakistan     NaN         NaN            3.0    NaN
1         JJ Crowe       England     NaN        81.0            NaN    D/L
2              NaN      Pakistan     NaN         NaN            6.0    NaN
3       SR Bernard          Oman     NaN         NaN            7.0    NaN
4         BC Broad  South Africa     NaN        33.0            NaN    D/L
...            ...           ...     ...         ...            ...    ...
1664      JJ Crowe     Sri Lanka     NaN        22.0            NaN    NaN
1665       DC Boon   New Zealand     NaN       141.0            NaN    NaN
1666      JJ Crowe     Sri Lanka     NaN        69.0            NaN    NaN
1667     J Srinath  South Africa     NaN       112.0            NaN    NaN
1668   RS Mahanama         India     NaN        39.0            NaN    NaN

[1669 rows x 29 columns]

In [3]:
#read data from json file into dataframe
df_json = pd.read_csv("cricket_data.csv",encoding="utf8")
print(df_json)

          File No        Team 1  Team 1 Runs  Team 1 Wickets     Team 2  \
0      710305.csv    Bangladesh          326               3   Pakistan
1      667889.csv       England          247               6  Sri Lanka
2     1073420.csv      Pakistan           91              10   Scotland
3      749547.csv        Jersey          185              10       Oman
4      463154.csv  South Africa          250               9      India
...           ...           ...          ...             ...        ...
1664   236358.csv     Australia          274               8  Sri Lanka
1665   520593.csv   New Zealand          372               6   Zimbabwe
1666   247476.csv         India          254               6  Sri Lanka
1667   387567.csv  South Africa          354               6    England
1668   238188.csv         India          203              10    England

      Team 2 Runs  Team 2 Wickets  Gender   Season        Date  ...  \
0             329               7    male  2013/14  2014/03/04  ...
1             144              10    male     2014  2014/05/22  ...
2              94               4  female  2016/17  2017/02/13  ...
3             189               3    male     2014  2014/06/22  ...
4             234              10    male  2010/11  2011/01/23  ...
...           ...             ...     ...      ...         ...  ...
1664          252              10    male  2005/06  2006/02/10  ...
1665          231               8    male  2011/12  2012/02/06  ...
1666          185              10    male  2006/07  2007/03/23  ...
1667          242              10    male  2009/10  2009/11/27  ...
1668          164              10    male  2005/06  2006/03/28  ...

                Umpire 1        Umpire 2    Reserve Umpire     TV Umpire  \
0              JD Cloete        NJ Llong      Tanvir Ahmed     CK Nandan
1              RJ Bailey     CB Gaffaney       RT Robinson     M Erasmus
2            JM Williams   RR Wimalasiri  RMPJ Rambukwella           NaN
3     Ahmed Shah Durrani        C Howard        N Morrison           NaN
4             BG Jerling      SJA Taufel         JD Cloete      S George
...                  ...             ...               ...           ...
1664           Aleem Dar       DJ Harper               NaN      RL Parry
1665             AL Hill       RJ Tucker          BG Frost  Enamul Haque
1666           Aleem Dar       DJ Harper         IL Howell      SJ Davis
1667           M Erasmus       RJ Tucker         JD Cloete    BG Jerling
1668           Asad Rauf  AV Jayaprakash               NaN   K Hariharan

     Match Referee        Winner Outcome Winner Runs Winner Wickets Method
0         BC Broad      Pakistan     NaN         NaN            3.0    NaN
1         JJ Crowe       England     NaN        81.0            NaN    D/L
2              NaN      Pakistan     NaN         NaN            6.0    NaN
3       SR Bernard          Oman     NaN         NaN            7.0    NaN
4         BC Broad  South Africa     NaN        33.0            NaN    D/L
...            ...           ...     ...         ...            ...    ...
1664      JJ Crowe     Sri Lanka     NaN        22.0            NaN    NaN
1665       DC Boon   New Zealand     NaN       141.0            NaN    NaN
1666      JJ Crowe     Sri Lanka     NaN        69.0            NaN    NaN
1667     J Srinath  South Africa     NaN       112.0            NaN    NaN
1668   RS Mahanama         India     NaN        39.0            NaN    NaN

[1669 rows x 29 columns]

## Creating and Saving dataframe

In [4]:
# Creating data
data = {
    "Player" : ["Rohit","Gill","Virat","Shreyas","Rahul","Axar","Hardik","Jadeja","Kuldeep","Bumrah","Arshdeep"],
    "Score" :["79","14","142*","68","42","DNB","30*","DNB","DNB","DNB","DNB"],
    "4s" : ["6","2","12","7","4","0","2","0","0","0","0"],
    "6s" :["4","0","6","4","1","0","2","0","0","0","0"]
}

#creating data frame
df = pd.DataFrame(data)
df

#creating csv file from dataframe
df.to_csv("team-score.csv",index=False,encoding="utf8")

#creating xls file from dataframe
df.to_excel("team-score.xlsx",index=False)

#creating json file from dataframe
df.to_json("team-score.json",index=False)

## Exploration of data

### Why we need to explore the data 
### - understand the data set
### - identify the problems
### - plan next steps

In [5]:
#loading the data
df = pd.read_csv("cricket_data.csv")

#display data from start
df.head(10) # returns 10 records from start(default=5)

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
5,298798.csv,South Africa,238,8,New Zealand,242,5,male,2007/08,2007/12/02,...,MR Benson,IL Howell,S George,M Erasmus,J Srinath,South Africa,NaN,NaN,5.0,NaN
6,247484.csv,England,266,7,Ireland,218,10,male,2006/07,2007/03/30,...,BR Doctrove,SJA Taufel,SA Bucknor,DJ Harper,RS Madugalle,England,NaN,48.0,NaN,NaN
7,746101.csv,Bhutan,169,7,Kuwait,173,4,male,2014,2014/06/11,...,B Manikandan,T Senthil Kumar,Sarika Prasad,NaN,BK Mehta,Kuwait,NaN,NaN,6.0,NaN
8,366341.csv,Sri Lanka,258,10,India,212,10,male,2008,2008/08/27,...,BR Doctrove,MG Silva,HDPK Dharmasena,TH Wijewardene,BC Broad,India,NaN,46.0,NaN,NaN
9,1085952.csv,Australia,257,9,Sri Lanka,262,2,female,2017,2017/06/29,...,AK Chaudhary,S Redfern,AT Holdstock,NaN,DT Jukes,Australia,NaN,NaN,8.0,NaN

In [6]:
#display data from last
df.tail(10) #returns 10 records from last(default=5)

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
1659,1050609.csv,New Zealand,263,6,Pakistan,267,2,female,2016/17,2016/11/13,...,K Cross,ED Sanders,NaN,NaN,SR Bernard,New Zealand,NaN,NaN,8.0,NaN
1660,433599.csv,India,268,10,West Indies,188,10,male,2010/11,2011/03/20,...,SJ Davis,SJA Taufel,SK Tarapore,BNJ Oxenford,RS Mahanama,India,NaN,80.0,NaN,NaN
1661,486523.csv,Bangladesh,246,7,Zimbabwe,181,10,male,2010/11,2010/12/06,...,EAR de Silva,Sharfuddoula,Mahfuzur Rahman,Nadir Shah,BC Broad,Bangladesh,NaN,65.0,NaN,NaN
1662,1040491.csv,Afghanistan,292,7,Ireland,262,10,male,2016/17,2017/03/15,...,Ahmed Shah Pakteen,Nitin Menon,NaN,AK Chaudhary,GF Labrooy,Afghanistan,NaN,30.0,NaN,NaN
1663,251489.csv,New Zealand,285,8,Sri Lanka,289,3,male,2006/07,2006/12/28,...,SJ Davis,AL Hill,GAV Baxter,EA Watkin,J Srinath,Sri Lanka,NaN,NaN,7.0,NaN
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

### Problems
### -column,row?
### -what type of data?
### -missing data?


### info() method
### 1- number of rows and columns
### 2- column name
### 3- type: int64, float64, object
### 4- non null counts
### 5- memory usage of

In [7]:
# insights or summary of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   File No          1669 non-null   object
 1   Team 1           1669 non-null   object
 2   Team 1 Runs      1669 non-null   int64
 3   Team 1 Wickets   1669 non-null   int64
 4   Team 2           1669 non-null   object
 5   Team 2 Runs      1669 non-null   int64
 6   Team 2 Wickets   1669 non-null   int64
 7   Gender           1669 non-null   object
 8   Season           1669 non-null   object
 9   Date             1669 non-null   object
 10  Series           1030 non-null   object
 11  Competition      664 non-null    object
 12  Match Number     1477 non-null   float64
 13  Venue            1669 non-null   object
 14  City             1414 non-null   object
 15  Neutral Venue    466 non-null    object
 16  Toss Winner      1669 non-null   object
 17  Toss Decision    1669 non-null   object
 18  Player of Match  1562 non-null   object
 19  Umpire 1         1669 non-null   object
 20  Umpire 2         1669 non-null   object
 21  Reserve Umpire   1527 non-null   object
 22  TV Umpire        1292 non-null   object
 23  Match Referee    1635 non-null   object
 24  Winner           1630 non-null   object
 25  Outcome          39 non-null     object
 26  Winner Runs      808 non-null    float64
 27  Winner Wickets   822 non-null    float64
 28  Method           156 non-null    object
dtypes: float64(3), int64(4), object(22)
memory usage: 378.3+ KB

In [8]:
# resturns detailed statistical information of dataset
df.describe()

,Team 1 Runs,Team 1 Wickets,Team 2 Runs,Team 2 Wickets,Match Number,Winner Runs,Winner Wickets
count,1669.000000,1669.000000,1669.000000,1669.000000,1477.000000,808.000000,822.000000
mean,243.596165,8.033553,201.977232,6.759137,6.454976,74.845297,5.643552
std,65.012542,1.949008,62.937939,3.184492,8.781920,56.688432,2.208543
min,67.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,202.000000,7.000000,159.000000,4.000000,2.000000,29.000000,4.000000
50%,246.000000,8.000000,206.000000,7.000000,3.000000,63.000000,6.000000
75%,288.000000,10.000000,246.000000,10.000000,5.000000,109.250000,7.000000
max,444.000000,10.000000,411.000000,10.000000,51.000000,300.000000,10.000000

### shape :- how big is your dataset
### columns - what are the names of the columns(helps to rename the column name

In [9]:
# returns the shape of dataset in tuple(row,column) format
df.shape

(1669, 29)

In [10]:
# return all column names of dataset
df.columns

Index(['File No', 'Team 1', 'Team 1 Runs', 'Team 1 Wickets', 'Team 2',
       'Team 2 Runs', 'Team 2 Wickets', 'Gender', 'Season', 'Date', 'Series',
       'Competition', 'Match Number', 'Venue', 'City', 'Neutral Venue',
       'Toss Winner', 'Toss Decision', 'Player of Match', 'Umpire 1',
       'Umpire 2', 'Reserve Umpire', 'TV Umpire', 'Match Referee', 'Winner',
       'Outcome', 'Winner Runs', 'Winner Wickets', 'Method'],
      dtype='object')

### Problem Statement
### 1 -  select a specific column
### 2 - filter row
### 3 -  combine multiple conditions

In [11]:
# accessing the specific column
df["Team 1"] # returns series

0         Bangladesh
1            England
2           Pakistan
3             Jersey
4       South Africa
            ...
1664       Australia
1665     New Zealand
1666           India
1667    South Africa
1668           India
Name: Team 1, Length: 1669, dtype: object

In [12]:
#accessing subset of columns
df[["Team 1","Team 2"]] #returns dataframe

            Team 1     Team 2
0       Bangladesh   Pakistan
1          England  Sri Lanka
2         Pakistan   Scotland
3           Jersey       Oman
4     South Africa      India
...            ...        ...
1664     Australia  Sri Lanka
1665   New Zealand   Zimbabwe
1666         India  Sri Lanka
1667  South Africa    England
1668         India    England

[1669 rows x 2 columns]

In [13]:
# accessing rows according to the single condition
df[df["Team 1 Runs"]>400]

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
43,257470.csv,South Africa,418,5,Zimbabwe,247,4,male,2006/07,2006/09/20,...,DJ Harper,BG Jerling,NaN,KH Hurter,RS Mahanama,South Africa,NaN,171.0,NaN,NaN
78,247468.csv,Bermuda,413,5,India,156,10,male,2006/07,2007/03/19,...,Aleem Dar,IL Howell,SJ Davis,DJ Harper,AG Hurst,India,NaN,257.0,NaN,NaN
419,656435.csv,South Africa,408,5,West Indies,151,10,male,2014/15,2015/02/27,...,SJ Davis,IJ Gould,Aleem Dar,REJ Martinesz,RS Mahanama,South Africa,NaN,257.0,NaN,NaN
651,441828.csv,India,401,3,South Africa,248,10,male,2009/10,2010/02/24,...,IJ Gould,SK Tarapore,RM Deshpande,SS Hazare,AJ Pycroft,India,NaN,153.0,NaN,NaN
814,792295.csv,India,404,5,Sri Lanka,251,10,male,2014/15,2014/11/13,...,BNJ Oxenford,S Ravi,AY Dandekar,AK Chaudhary,DC Boon,India,NaN,153.0,NaN,NaN
913,913657.csv,England,444,3,Pakistan,275,10,male,2016,2016/08/30,...,SD Fry,RA Kettleborough,RT Robinson,M Erasmus,JJ Crowe,England,NaN,169.0,NaN,NaN
942,743943.csv,England,408,9,New Zealand,198,10,male,2015,2015/06/09,...,MA Gough,BNJ Oxenford,RT Robinson,SJ Davis,J Srinath,England,NaN,210.0,NaN,NaN
1018,430886.csv,India,414,7,Sri Lanka,411,8,male,2009/10,2009/12/15,...,M Erasmus,SK Tarapore,UV Gandhe,SS Hazare,JJ Crowe,India,NaN,3.0,NaN,NaN
1081,746089.csv,Bhutan,438,4,Saudi Arabia,138,10,male,2014,2014/06/08,...,Ninad Dalvi,T Senthil Kumar,C Madhavan,NaN,ZA Shroff,Saudi Arabia,NaN,300.0,NaN,NaN
1364,722341.csv,South Africa,439,2,West Indies,291,7,male,2014/15,2015/01/18,...,SJ Davis,AT Holdstock,JD Cloete,S Ravi,BC Broad,South Africa,NaN,148.0,NaN,NaN
1522,536932.csv,India,418,5,West Indies,265,10,male,2011/12,2011/12/08,...,AL Hill,S Ravi,CK Nandan,S Asnani,DC Boon,India,NaN,153.0,NaN,NaN
1552,903601.csv,India,438,5,South Africa,224,10,male,2015/16,2015/10/25,...,AK Chaudhary,HDPK Dharmasena,NaN,VA Kulkarni,BC Broad,South Africa,NaN,214.0,NaN,NaN
1588,656445.csv,Ireland,411,4,South Africa,210,10,male,2014/15,2015/03/03,...,SJ Davis,REJ Martinesz,Aleem Dar,IJ Gould,RS Mahanama,South Africa,NaN,201.0,NaN,NaN
1637,656449.csv,Australia,417,6,Afghanistan,142,10,male,2014/15,2015/03/04,...,HDPK Dharmasena,MA Gough,NJ Llong,BF Bowden,RS Madugalle,Australia,NaN,275.0,NaN,NaN

In [14]:
#accessing rows according to multiple condition
condition = ((df["Team 1 Runs"] > 300) & (df["Team 2 Runs"] < 100))
df[condition]

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
109,514035.csv,South Africa,301,8,Sri Lanka,43,10,male,2011/12,2012/01/11,...,BR Doctrove,M Erasmus,JD Cloete,RA Kettleborough,JJ Crowe,South Africa,NaN,258.0,NaN,NaN
492,385751.csv,Pakistan,309,5,Sri Lanka,75,10,male,2008/09,2009/01/24,...,Asad Rauf,NJ Llong,NaN,Nadeem Ghauri,BC Broad,Sri Lanka,NaN,234.0,NaN,NaN
527,297793.csv,India,307,7,Australia,9,1,male,2007/08,2007/09/29,...,SA Bucknor,SL Shastri,S Asnani,AM Saheba,BC Broad,NaN,no result,NaN,NaN,NaN
677,913649.csv,Ireland,337,6,Pakistan,82,10,male,2016,2016/08/18,...,SD Fry,M Hawthorne,AJ Neill,M Erasmus,JJ Crowe,Pakistan,NaN,255.0,NaN,NaN
1271,1083447.csv,Sri Lanka,311,10,Bangladesh,0,0,male,2016/17,2017/03/28,...,RSA Palliyaguruge,S Ravi,REJ Martinesz,MA Gough,AJ Pycroft,NaN,no result,NaN,NaN,NaN
1371,247473.csv,Pakistan,349,10,Zimbabwe,99,10,male,2006/07,2007/03/21,...,BG Jerling,SJA Taufel,BF Bowden,IJ Gould,BC Broad,Pakistan,NaN,93.0,NaN,D/L
1459,648655.csv,South Africa,301,8,India,0,0,male,2013/14,2013/12/11,...,JD Cloete,RK Illingworth,AT Holdstock,S George,AJ Pycroft,NaN,no result,NaN,NaN,NaN

In [15]:
condition = ((df["Team 1 Runs"] > 300) | (df["Team 2 Runs"] < 100))
df[condition]

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
13,953339.csv,Afghanistan,175,10,Zimbabwe,58,10,male,2015/16,2016/01/02,...,AK Chaudhary,VA Kulkarni,Iftikhar Ali,C Shamshuddin,DT Jukes,Zimbabwe,NaN,117.0,NaN,NaN
14,560924.csv,West Indies,315,5,New Zealand,260,10,male,2012,2012/07/07,...,GO Brathwaite,RK Illingworth,PJ Nero,RA Kettleborough,AJ Pycroft,West Indies,NaN,55.0,NaN,NaN
17,597928.csv,India,119,3,Sri Lanka,96,10,male,2013,2013/07/09,...,NJ Llong,PJ Nero,N Duguid,JS Wilson,JJ Crowe,India,NaN,81.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,749791.csv,New Zealand,315,8,Sri Lanka,195,10,male,2014/15,2015/01/25,...,MA Gough,DJ Walker,CB Gaffaney,RJ Tucker,J Srinath,New Zealand,NaN,120.0,NaN,NaN
1644,433595.csv,Ireland,306,10,Netherlands,307,4,male,2010/11,2011/03/18,...,BR Doctrove,IJ Gould,EAR de Silva,HDPK Dharmasena,RS Madugalle,Ireland,NaN,NaN,6.0,NaN
1652,247503.csv,Australia,348,6,New Zealand,133,10,male,2006/07,2007/04/20,...,Aleem Dar,Asad Rauf,DJ Harper,BR Doctrove,MJ Procter,Australia,NaN,215.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN

### ADDING, UPDATE, REMOVE Columns

In [21]:
data = {
    "Name" : ["Dinesh","Shreya","Vishal","Sweta"],
    "Weight" : [56,45,65,48]
}

df = pd.DataFrame(data)
df

     Name  Weight
0  Dinesh      56
1  Shreya      45
2  Vishal      65
3   Sweta      48

In [23]:
#Adding Column

# 1: using square brackets(column added to the last)
df["Height"] = [173,165,168,162]
df

     Name  Weight  Height
0  Dinesh      56     173
1  Shreya      45     165
2  Vishal      65     168
3   Sweta      48     162

In [24]:
#Adding column using insert() method(let you add column where you want)
# df.insert(location,"column_name",data)

df.insert(1,"Age",[23,24,24,23])
df

     Name  Age  Weight  Height
0  Dinesh   23      56     173
1  Shreya   24      45     165
2  Vishal   24      65     168
3   Sweta   23      48     162

#### Create a column store bmi of each person(insert at last)

In [25]:
df["BMI"] = df["Weight"] / (df["Height"]/100)**2
df

     Name  Age  Weight  Height        BMI
0  Dinesh   23      56     173  18.710949
1  Shreya   24      45     165  16.528926
2  Vishal   24      65     168  23.030045
3   Sweta   23      48     162  18.289895

# Updating Value

In [26]:
# loc helps to access a specific shell in data frame
#df.loc[row_index,"column_name"] = new_value

df.loc[2,"Height"] = 169
df

     Name  Age  Weight  Height        BMI
0  Dinesh   23      56     173  18.710949
1  Shreya   24      45     165  16.528926
2  Vishal   24      65     169  23.030045
3   Sweta   23      48     162  18.289895

#### update Height in metres

In [27]:
df["Height"] = df["Height"] / 100
df

     Name  Age  Weight  Height        BMI
0  Dinesh   23      56    1.73  18.710949
1  Shreya   24      45    1.65  16.528926
2  Vishal   24      65    1.69  23.030045
3   Sweta   23      48    1.62  18.289895

In [28]:
# Removing columns
#df.drop(columns=["column_name"],inplace=True)
# inplace=True : ensure kaam original df pr ho na ki koi nya df return ho
df.drop(columns=["Age"],inplace=True)
df

     Name  Weight  Height        BMI
0  Dinesh      56    1.73  18.710949
1  Shreya      45    1.65  16.528926
2  Vishal      65    1.69  23.030045
3   Sweta      48    1.62  18.289895

# Handling Missing Data

#### detecting the missing value

In [38]:
df = pd.read_csv("cricket_data.csv")
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

In [32]:
# isnull() return true where value is none(missing) otherwise returns false
df.isnull()

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,True,True,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,True
1665,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
1666,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
1667,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
1668,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,True

In [35]:
#gives number of missing value for each column
df.isnull().sum()

File No               0
Team 1                0
Team 1 Runs           0
Team 1 Wickets        0
Team 2                0
Team 2 Runs           0
Team 2 Wickets        0
Gender                0
Season                0
Date                  0
Series              639
Competition        1005
Match Number        192
Venue                 0
City                255
Neutral Venue      1203
Toss Winner           0
Toss Decision         0
Player of Match     107
Umpire 1              0
Umpire 2              0
Reserve Umpire      142
TV Umpire           377
Match Referee        34
Winner               39
Outcome            1630
Winner Runs         861
Winner Wickets      847
Method             1513
dtype: int64

#### Delete missing value of column/row

In [37]:
df = pd.read_csv("cricket_data.csv")
# delete missing value in row
df.dropna(axis=0,inplace=True)
df

Empty DataFrame
Columns: [File No, Team 1, Team 1 Runs, Team 1 Wickets, Team 2, Team 2 Runs, Team 2 Wickets, Gender, Season, Date, Series, Competition, Match Number, Venue, City, Neutral Venue, Toss Winner, Toss Decision, Player of Match, Umpire 1, Umpire 2, Reserve Umpire, TV Umpire, Match Referee, Winner, Outcome, Winner Runs, Winner Wickets, Method]
Index: []

[0 rows x 29 columns]

In [45]:
df = pd.read_csv("cricket_data.csv")
# delete missing value in column
df.dropna(axis=1,inplace=True)
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,Venue,Toss Winner,Toss Decision,Umpire 1,Umpire 2
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,Shere Bangla National Stadium,Bangladesh,bat,JD Cloete,NJ Llong
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,Kennington Oval,Sri Lanka,field,RJ Bailey,CB Gaffaney
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,Colombo Cricket Club Ground,Scotland,bat,JM Williams,RR Wimalasiri
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,Singapore Cricket Club,Jersey,bat,Ahmed Shah Durrani,C Howard
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,SuperSport Park,India,field,BG Jerling,SJA Taufel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,Adelaide Oval,Sri Lanka,bat,Aleem Dar,DJ Harper
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,Cobham Oval (New),Zimbabwe,field,AL Hill,RJ Tucker
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,"""Queen's Park Oval",India,field,Aleem Dar,DJ Harper
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,Newlands,South Africa,bat,M Erasmus,RJ Tucker
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,Feroz Shah Kotla,England,field,Asad Rauf,AV Jayaprakash

## Filling value where missing

#### df.fillna(value,inplace=True)

In [65]:
df = pd.read_csv("cricket_data.csv")
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

In [67]:
df["Winner Runs"].fillna(0, inplace=True)
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,0.0,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,0.0,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,0.0,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

# Interpolation
### filling up estimated value where value is missing (works only for numerical data)

##Why interpolation
### 1- preserve data integrity
### 2- smooth trends
### 3- previent data loss

#### in pandas we have interplate method
#### df.interpolate(method="mathod_name",axis=0/1,inplace=True)

#### important methods: linear, polynomial, time,quadratic,cubic,near etc

In [72]:
df = pd.read_csv("cricket_data.csv")

In [74]:
#filling up Winner Runs data by using linear method
df["Winner Runs"].interpolate(method="linear",inplace=True)
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,65.0,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,49.0,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

In [76]:
df.isnull().sum()

File No               0
Team 1                0
Team 1 Runs           0
Team 1 Wickets        0
Team 2                0
Team 2 Runs           0
Team 2 Wickets        0
Gender                0
Season                0
Date                  0
Series              639
Competition        1005
Match Number        192
Venue                 0
City                255
Neutral Venue      1203
Toss Winner           0
Toss Decision         0
Player of Match     107
Umpire 1              0
Umpire 2              0
Reserve Umpire      142
TV Umpire           377
Match Referee        34
Winner               39
Outcome            1630
Winner Runs           1
Winner Wickets      847
Method             1513
dtype: int64

# Sorting 
### method = df.sort_values(by="column_name",ascending=True/False,inplace=True)
### True for ascending order/ False for descending order
### inplace = True mtlb permanent change kr do

In [78]:
df = pd.read_csv("cricket_data.csv")
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

In [81]:
df.sort_values(by="Team 1 Runs",ascending=True,inplace=True)
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
1415,375457.csv,Zimbabwe,67,10,Sri Lanka,68,1,male,2008/09,2008/11/22,...,Aleem Dar,KC Barbour,TJ Tapfumaneyi,O Chirombe,MJ Procter,Sri Lanka,NaN,NaN,9.0,NaN
1140,1073427.csv,India,67,10,Pakistan,70,3,female,2016/17,2017/02/19,...,CA Polosak,RR Wimalasiri,LS Reifer,NaN,NaN,India,NaN,NaN,7.0,NaN
227,1041525.csv,Bangladesh,68,10,South Africa,69,2,female,2016/17,2017/01/20,...,Anisur Rahman,Mahfuzur Rahman,Tanvir Ahmed,NaN,GF Labrooy,South Africa,NaN,NaN,8.0,NaN
1053,467091.csv,Cayman Islands,69,10,Nepal,70,3,male,2010,2010/08/20,...,L Fourie,IJ Gould,R Hassan,NaN,DT Jukes,Nepal,NaN,NaN,7.0,NaN
274,573016.csv,Australia,74,10,Sri Lanka,75,6,male,2012/13,2013/01/18,...,RA Kettleborough,PR Reiffel,JD Ward,M Erasmus,J Srinath,Sri Lanka,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,536932.csv,India,418,5,West Indies,265,10,male,2011/12,2011/12/08,...,AL Hill,S Ravi,CK Nandan,S Asnani,DC Boon,India,NaN,153.0,NaN,NaN
1081,746089.csv,Bhutan,438,4,Saudi Arabia,138,10,male,2014,2014/06/08,...,Ninad Dalvi,T Senthil Kumar,C Madhavan,NaN,ZA Shroff,Saudi Arabia,NaN,300.0,NaN,NaN
1552,903601.csv,India,438,5,South Africa,224,10,male,2015/16,2015/10/25,...,AK Chaudhary,HDPK Dharmasena,NaN,VA Kulkarni,BC Broad,South Africa,NaN,214.0,NaN,NaN
1364,722341.csv,South Africa,439,2,West Indies,291,7,male,2014/15,2015/01/18,...,SJ Davis,AT Holdstock,JD Cloete,S Ravi,BC Broad,South Africa,NaN,148.0,NaN,NaN
913,913657.csv,England,444,3,Pakistan,275,10,male,2016,2016/08/30,...,SD Fry,RA Kettleborough,RT Robinson,M Erasmus,JJ Crowe,England,NaN,169.0,NaN,NaN

In [82]:
# sorting values for multiple columns
df = pd.read_csv("cricket_data.csv")
df.sort_values(by=["Team 1 Runs","Team 2 Runs"],ascending=[True,False],inplace=True)
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
1140,1073427.csv,India,67,10,Pakistan,70,3,female,2016/17,2017/02/19,...,CA Polosak,RR Wimalasiri,LS Reifer,NaN,NaN,India,NaN,NaN,7.0,NaN
1415,375457.csv,Zimbabwe,67,10,Sri Lanka,68,1,male,2008/09,2008/11/22,...,Aleem Dar,KC Barbour,TJ Tapfumaneyi,O Chirombe,MJ Procter,Sri Lanka,NaN,NaN,9.0,NaN
227,1041525.csv,Bangladesh,68,10,South Africa,69,2,female,2016/17,2017/01/20,...,Anisur Rahman,Mahfuzur Rahman,Tanvir Ahmed,NaN,GF Labrooy,South Africa,NaN,NaN,8.0,NaN
1053,467091.csv,Cayman Islands,69,10,Nepal,70,3,male,2010,2010/08/20,...,L Fourie,IJ Gould,R Hassan,NaN,DT Jukes,Nepal,NaN,NaN,7.0,NaN
274,573016.csv,Australia,74,10,Sri Lanka,75,6,male,2012/13,2013/01/18,...,RA Kettleborough,PR Reiffel,JD Ward,M Erasmus,J Srinath,Sri Lanka,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,257470.csv,South Africa,418,5,Zimbabwe,247,4,male,2006/07,2006/09/20,...,DJ Harper,BG Jerling,NaN,KH Hurter,RS Mahanama,South Africa,NaN,171.0,NaN,NaN
1552,903601.csv,India,438,5,South Africa,224,10,male,2015/16,2015/10/25,...,AK Chaudhary,HDPK Dharmasena,NaN,VA Kulkarni,BC Broad,South Africa,NaN,214.0,NaN,NaN
1081,746089.csv,Bhutan,438,4,Saudi Arabia,138,10,male,2014,2014/06/08,...,Ninad Dalvi,T Senthil Kumar,C Madhavan,NaN,ZA Shroff,Saudi Arabia,NaN,300.0,NaN,NaN
1364,722341.csv,South Africa,439,2,West Indies,291,7,male,2014/15,2015/01/18,...,SJ Davis,AT Holdstock,JD Cloete,S Ravi,BC Broad,South Africa,NaN,148.0,NaN,NaN
913,913657.csv,England,444,3,Pakistan,275,10,male,2016,2016/08/30,...,SD Fry,RA Kettleborough,RT Robinson,M Erasmus,JJ Crowe,England,NaN,169.0,NaN,NaN

# Aggrigation : statistical summary of the dataset
#### df["column name"].sum()
#### df["column name"].min()
#### df["column name"].max()
#### df["column name"].mean()
#### df["column name"].count()
#### df["column name"].std()

In [83]:
df = pd.read_csv("cricket_data.csv")
df

,File No,Team 1,Team 1 Runs,Team 1 Wickets,Team 2,Team 2 Runs,Team 2 Wickets,Gender,Season,Date,...,Umpire 1,Umpire 2,Reserve Umpire,TV Umpire,Match Referee,Winner,Outcome,Winner Runs,Winner Wickets,Method
0,710305.csv,Bangladesh,326,3,Pakistan,329,7,male,2013/14,2014/03/04,...,JD Cloete,NJ Llong,Tanvir Ahmed,CK Nandan,BC Broad,Pakistan,NaN,NaN,3.0,NaN
1,667889.csv,England,247,6,Sri Lanka,144,10,male,2014,2014/05/22,...,RJ Bailey,CB Gaffaney,RT Robinson,M Erasmus,JJ Crowe,England,NaN,81.0,NaN,D/L
2,1073420.csv,Pakistan,91,10,Scotland,94,4,female,2016/17,2017/02/13,...,JM Williams,RR Wimalasiri,RMPJ Rambukwella,NaN,NaN,Pakistan,NaN,NaN,6.0,NaN
3,749547.csv,Jersey,185,10,Oman,189,3,male,2014,2014/06/22,...,Ahmed Shah Durrani,C Howard,N Morrison,NaN,SR Bernard,Oman,NaN,NaN,7.0,NaN
4,463154.csv,South Africa,250,9,India,234,10,male,2010/11,2011/01/23,...,BG Jerling,SJA Taufel,JD Cloete,S George,BC Broad,South Africa,NaN,33.0,NaN,D/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,236358.csv,Australia,274,8,Sri Lanka,252,10,male,2005/06,2006/02/10,...,Aleem Dar,DJ Harper,NaN,RL Parry,JJ Crowe,Sri Lanka,NaN,22.0,NaN,NaN
1665,520593.csv,New Zealand,372,6,Zimbabwe,231,8,male,2011/12,2012/02/06,...,AL Hill,RJ Tucker,BG Frost,Enamul Haque,DC Boon,New Zealand,NaN,141.0,NaN,NaN
1666,247476.csv,India,254,6,Sri Lanka,185,10,male,2006/07,2007/03/23,...,Aleem Dar,DJ Harper,IL Howell,SJ Davis,JJ Crowe,Sri Lanka,NaN,69.0,NaN,NaN
1667,387567.csv,South Africa,354,6,England,242,10,male,2009/10,2009/11/27,...,M Erasmus,RJ Tucker,JD Cloete,BG Jerling,J Srinath,South Africa,NaN,112.0,NaN,NaN
1668,238188.csv,India,203,10,England,164,10,male,2005/06,2006/03/28,...,Asad Rauf,AV Jayaprakash,NaN,K Hariharan,RS Mahanama,India,NaN,39.0,NaN,NaN

In [84]:
#find average of Team 1 Runs
df["Team 1 Runs"].mean()

np.float64(243.59616536848412)

In [85]:
#find sum of Team 1 Runs
df["Team 1 Runs"].sum()

np.int64(406562)

In [86]:
#find min Team 1 Runs
df["Team 1 Runs"].min()

np.int64(67)

In [87]:
#find max Team 1 Runs
df["Team 1 Runs"].max()

np.int64(444)

In [89]:
#find count Team 1 Runs
df["Team 1 Runs"].count()

np.int64(1669)

 # Group By: group data according to unique value then perform operations

 #### df.groupby("col_name_forGrp")["perform operation on  col"].aggmeth()

In [102]:
# calculate Winner frequency of each team
df.groupby(["Team 1"])["Winner"].count()

Team 1
Afghanistan                  35
Africa XI                     3
Argentina                     3
Australia                   188
Bahrain                       3
Bangladesh                  130
Bermuda                      15
Bhutan                        3
Botswana                      6
Canada                       19
Cayman Islands                4
Denmark                      10
England                     178
Fiji                          2
Ghana                         4
Guernsey                      6
Hong Kong                    10
India                       169
Ireland                      53
Italy                         9
Jersey                        6
Kenya                        22
Kuwait                        2
Malaysia                     13
Namibia                       5
Nepal                        12
Netherlands                  10
New Zealand                 126
Nigeria                       5
Norway                        1
Oman                          4
Pakistan                     85
Papua New Guinea              7
Qatar                         1
Samoa                         2
Scotland                     16
Sierra Leone                  2
Singapore                    10
South Africa                126
Sri Lanka                   124
Suriname                      1
Tanzania                      2
Thailand                      1
Uganda                        1
United Arab Emirates         13
United States of America      5
West Indies                 100
Zimbabwe                     78
Name: Winner, dtype: int64

In [101]:
# grouping based on more than 2 columns
df.groupby(["Team 1","Team 2"])["Winner"].count()

Team 1       Team 2
Afghanistan  Australia       2
             Bangladesh      2
             England         1
             India           2
             Ireland         6
                            ..
Zimbabwe     New Zealand     6
             Pakistan        9
             South Africa    8
             Sri Lanka       8
             West Indies     4
Name: Winner, Length: 324, dtype: int64

# Merging and Joining
Merging is combining two or more dataset on common column

Syntax:
pd.merge(df1,df2,on="common_col",how="type of join")

Type of join: cross,inner,outer,left,right

In [104]:
df_customer = pd.DataFrame({
    'Cust_Id' : [1,2,3],
    'Name' : ["Dinesh","Vishal","Shreay"]
})

df_order = pd.DataFrame({
    'Cust_Id': [1,2,4],
    'Name': [1999,1499,2599]
})
print("customer",df_customer,sep="\n")
print("order",df_order,sep="\n")

customer
   Cust_Id    Name
0        1  Dinesh
1        2  Vishal
2        3  Shreay
order
   Cust_Id  Name
0        1  1999
1        2  1499
2        4  2599

In [105]:
# inner join
pd.merge(df_customer,df_order,on="Cust_Id",how="inner")

   Cust_Id  Name_x  Name_y
0        1  Dinesh    1999
1        2  Vishal    1499

In [106]:
# outer join
pd.merge(df_customer,df_order,on="Cust_Id",how="outer")

   Cust_Id  Name_x  Name_y
0        1  Dinesh  1999.0
1        2  Vishal  1499.0
2        3  Shreay     NaN
3        4     NaN  2599.0

In [108]:
# left join
pd.merge(df_customer,df_order,on="Cust_Id",how="left")

   Cust_Id  Name_x  Name_y
0        1  Dinesh  1999.0
1        2  Vishal  1499.0
2        3  Shreay     NaN

In [109]:
# right join
pd.merge(df_customer,df_order,on="Cust_Id",how="right")

   Cust_Id  Name_x  Name_y
0        1  Dinesh    1999
1        2  Vishal    1499
2        4     NaN    2599

In [112]:
# cross join(on feild nhi hota hai)
pd.merge(df_customer,df_order,how="cross")

   Cust_Id_x  Name_x  Cust_Id_y  Name_y
0          1  Dinesh          1    1999
1          1  Dinesh          2    1499
2          1  Dinesh          4    2599
3          2  Vishal          1    1999
4          2  Vishal          2    1499
5          2  Vishal          4    2599
6          3  Shreay          1    1999
7          3  Shreay          2    1499
8          3  Shreay          4    2599

# Concatenation: row/column wise

pd.concat([df1,df2],axis=0/1,ignore_index=True)

ignore_index: used for axis=0 effective

In [113]:
df1 = pd.DataFrame({
    "id" : [1,2,3],
    "name" : ["Dinesh","Vishal","Shreya"]
})

df2 = pd.DataFrame({
    "id" : [4,5,6],
    "name" : ["Sweta","Rushil","Sagar"]
})
df3 = pd.DataFrame({
    "likes" : ["Badminton","Basketball","Cricket"] 
})
print(df1,df2,df3,sep="\n")

   id    name
0   1  Dinesh
1   2  Vishal
2   3  Shreya
   id    name
0   4   Sweta
1   5  Rushil
2   6   Sagar
        likes
0   Badminton
1  Basketball
2     Cricket

In [115]:
# row-wise concatenation
pd.concat([df1,df2],axis=0,ignore_index=True)

   id    name
0   1  Dinesh
1   2  Vishal
2   3  Shreya
3   4   Sweta
4   5  Rushil
5   6   Sagar

In [117]:
# col-wise
pd.concat([df2,df3],axis=1)

   id    name       likes
0   4   Sweta   Badminton
1   5  Rushil  Basketball
2   6   Sagar     Cricket